<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Elastic Micro</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>

  <body>
    <div id="root">
      <style type="text/css">
        .init-loading-wrapper {
          height: 80vh;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .init-loading-wrapper .init-spinner {
          width: 80px;
        }

        .init-loading-wrapper .init-loading-content {
          display: flex;
          align-items: center;
          margin-bottom: 80px;
        }

        .init-loading-wrapper h1 {
          margin: 0;
          color: #4daaea;
        }
      </style>
      
      <div class="init-loading-wrapper">
        <div class="init-loading-content">
          <img class="init-spinner" src="/init_spinner.svg" />
          <h1>Elastic Micro</h1>
        </div>
      </div>
    </div>
  </body>
</html>
